{% extends 'template.html.twig' %}
{% block title %} Numbers {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <span>Lucky Numbers: {{ luckyNumberList }}</span>
        </div>
        <div class="col-md-6">
            <span>Lucky Numbers: {{ luckyNumberList }}</span>
        </div>
    </div>
{% endblock %}
